body#popup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7f8ed;
}

button#send-html-button {
    margin-top: 0;
    text-align: center;
    background-color: #c4eed0;
}

button#send-html-button:hover {
    cursor: pointer;
}

h2#named-entities-recognition {
    margin-top: 0;
}